---
layout: page
title: About Me
permalink: /about-me/
---

<section id="profile-pic" class="profile-pic">
    <div class="container">
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/images/me.jpg">
            <source media="(min-width: 768px)" srcset="/assets/images/me@2x.jpg">
            <img src="/assets/images/me@2x.jpg" alt="Me in front of Seven Sisters Cliffs" loading="eager">
        </picture>
    </div>
</section>

<section id="personal" class="personal">
    <header>
        <div class="container">
            <h1>Personal</h1>
        </div>
    </header>

    <div class="container">
        <ul class="social-media-list">
            {% if site.facebook_username %}
                <li>{% include icon-facebook.html username=site.facebook_username %}</li>
            {% endif %}

            {% if site.spotify_username %}
                <li>{% include icon-spotify.html username=site.spotify_username %}</li>
            {% endif %}
        </ul>
    </div>

    <div class="container">
        <div class="column">
            <p>I am a web designer and developer living in sunny San Diego, California. I enjoy music, especially dance-y music like <a href="http://everynoise.com/engenremap-alternativedance.html" target="_blank">alternative dance</a>, <a href="http://everynoise.com/engenremap-nudisco.html" target="_blank">nu disco</a>, <a href="http://everynoise.com/engenremap-retroelectro.html" target="_blank">synthwave</a>, and <a href="http://everynoise.com/engenremap-indietronica.html" target="_blank">indietronica</a>. I am a moderator for a music site called <a href="http://www.indiediscotheque.com/" target="_blank">Indie Discotheque</a>.</p>
        </div>
        <div class="column">
            <p>I also enjoy following professional soccer, of which I am a fan of <a href="https://www.lagalaxy.com/" target="_blank">LA Galaxy</a> and English team <a href="https://www.arsenal.com/" target="_blank">Arsenal</a>.</p>
            <p>Other things I enjoy are watching sci-fi movies, camping, and watching my favorite TV show Jeopardy.</p>
        </div>
    </div>
</section>

<section id="professional" class="professional">
    <header>
        <div class="container">
            <h1>Professional</h1>
        </div>
    </header>
        
    <div class="container">
        <ul class="social-media-list">
            {% if site.linkedin_username %}
                <li>{% include icon-linkedin.html username=site.linkedin_username %}</li>
            {% endif %}

            {% if site.gitlab_username %}
                <li>{% include icon-gitlab.html username=site.gitlab_username %}</li>
            {% endif %}

            {% if site.github_username %}
                <li>{% include icon-github.html username=site.github_username %}</li>
            {% endif %}
        </ul>
    </div>

    <div class="container">
        <div class="column">
            <p>I have a Bachelors of Science degree in Web Design and Interactive Media from Art Institute of California - San Diego, which I finished in 2012.</p>
            
            <p>Most recently, I was a web developer at a web agency called PINT, Inc., where I specialized in development for content management systems, primarily Wordpress, Joomla!, and Drupal 7. While there I picked up a lot of front-end and back-end development experience and learned some server administration skills, including working with Gitlab for auto-deploying code to sites.</p>
        </div>

        <div class="column">
            <p>Before that I was a web designer and developer at a small company called Scentco, Inc., where I was one of two front-end developers and the sole back-end developer on a creative team of seven.</p>

            <p>In the end, I have a love for all things Web; I am always studying the latest techniques and technology. I am eternally cramming my head full of new skills and designs, all in pursuit of bettering my unique blend of talents, knowledge, and wackiness.</p>
        </div>
    </div>
</section>
