---
layout: page
title: Contact
permalink: /contact/
foot_js:
- simpleform-ajax
---

<section>
    <header>
        <div class="container">
            <h1>Message Me</h1>
        </div>
    </header>
    <div class="container">
        <form class="simpleform" id="simpleform" action="https://getsimpleform.com/messages?form_api_token=b6483d2bb49cacefae828f38f72e2f2c" method="post">
            <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
            <input type='hidden' name='redirect_to' value='https://cyancey76.gitlab.io/thank-you/' />
            <!-- all your input fields here.... -->
            <label for="name">Name</label>
            <input type="text" name="name" id="name" autocomplete="name" placeholder="Name" />

            <label for="email">Email</label>
            <input type="email" name="email" id="email" autocomplete="email" placeholder="Email" />

            <label for="message">Message</label>
            <textarea name="message" id="message" placeholder="Your message..." rows="8"></textarea>

            <div class="message--success">The message was successfully sent!</div>
            <div class="message--fail">The message failed to send. Try using my direct email option below.</div>

            <input type="submit" value="Send Message" />
        </form>
    </div>
</section>

<section class="contact">
    <header>
        <div class="container">
            <h1>Other Options</h1>
        </div>
    </header>
    <div class="container">
        <div class="column">
            <p><a href="mailto:cyancey76@gmail.com" class="split-button">{% include icon-email.html %} Direct Email Me</a></p>
            <p class="mobile-only"><a href="tel:+17142351711" class="split-button">{% include icon-phone.html %} Call Me</a></p>
        </div>
    </div>
</section>
