---
layout: page
title: Experience
permalink: /experience/
---

<section class="work-experience">
    <header>
        <div class="container">
            <h1>Work</h1>
        </div>
    </header>
        
    <div class="container">
        <div class="column">
            <div class="job">
                <header>
                        <h2><a href="www.pint.com" target="_blank">PINT, Inc.</a></h2>
                        <h3 class="job-title">Web Developer</h3>
                        <h4 class="dates">September 2015 - May 2018</h4>
                </header>
                <div class="content">
                        <p>Front-end developer for new and existing client sites and experimental PINT, Inc. web technology projects, as well as back-end developer for Wordpress, Joomla! and Drupal projects. Active participant at all stages of project discovery, planning, and execution.</p>

                        <h3>Responsibilities</h3>

                        <ul>
                                <li>CMS theme and plugin development</li>
                                <li>Production of client sites from wireframes and design comps</li>
                                <li>Discovery and implementation of UX, SEO, and performance improvements</li>
                                <li>Maintenance of client sites in various content management systems, including Wordpress, Joomla!, Drupal, PWP (PINT, Inc.’s proprietary CMS), ExpressionEngine, Sitecore</li>
                        </ul>

                        <h3>Sample Work</h3>

                        <ul class="no-bullets">
                            <li><a href="http://www.epiphanyboatcharters.com" target="_blank">epiphanyboatcharters.com</a></li>
                            <li><a href="https://www.joebushmanconstruction.com/" target="_blank">joebushmanconstruction.com</a></li>
                            <li><a href="http://wtri.com/" target="_blank">wtri.com</a></li>
                            <li><a href="https://www.kla-tencor.com/" target="_blank">kla-tencor.com</a></li>
                            <li><a href="https://www.ymsmagazine.com/" target="_blank">ymsmagazine.com</a></li>
                            <li><a href="http://www.femsa.com/" target="_blank">femsa.com</a></li>
                        </ul>
                </div>
                <footer>
                    <hr class="mobile-only" />
                </footer>
            </div>
        </div>

        <div class="column">
            <div class="job">
                <header>
                        <h2><a href="www.scentcoinc.com" target="_blank">Scentco Inc.</a></h2>
                        <h3 class="job-title">Web Designer and Developer</h3>
                        <h4 class="dates">October 2012 - May 2015</h4>
                </header>
                <div class="content">
                        <p>Developer responsible for all aspects of designing and developing Wordpress themes and plugins for 7 eCommerce websites, html emails, product photos, and print materials.</p>

                        <h3>Responsibilities</h3>

                        <ul>
                            <li>Development for Wordpress sites with eCommerce emphasis</li>
                            <li>Design for print, web, and social media, including e-blasts and printed materials</li>
                            <li>Product photography for eCommerce</li>
                            <li>Theming for 7 Wordpress websites</li>
                            <li>Wordpress plugins for online fundraising system, wholesale account management, and digital product samples</li>
                        </ul>
                        
                        <h3>Sample Work</h3>

                        <ul class="no-bullets">
                            <li><a href="http://www.scentcoinc.com/" target="_blank">scentcoinc.com</a></li>
                            <li><a href="http://www.scentcofundraising.com/" target="_blank">scentcofundraising.com</a></li>
                            <li><a href="http://www.smickers.com/" target="_blank">smickers.com</a></li>
                        </ul>
                </div>
                <footer>
                </footer>
            </div>
        </div>
    </div>
    

</section>

<section id="proficiencies" class="proficiencies">
    <header>
        <div class="container">
            <h1>Proficiencies</h1>
        </div>
    </header>
        
    <div class="container">
        <div class="column">
            <h2>Programming Skills and Technology</h2>
            <ul>
                <li>Wordpress</li>
                <li>Joomla!</li>
                <li>Drupal 7</li>    
                <li>UI / UX Design</li>
                <li>Responsive / Adaptive Design</li>
                <li>Object-oriented Programming</li>
                <li>Git + Github / Gitlab / Bitbucket</li>
                <li>Basic site deployment and web server maintenance knowledge</li>
            </ul>
        </div>
        
        <div class="column">
            <h2>Languages</h2>
            <ul>
                <li>HTML5</li>
                <li>CSS3 / LESS / SASS</li>
                <li>Javascript / jQuery</li>
                <li>PHP</li>
                <li>MySQL</li>
            </ul>
        </div>

        <div class="column">
            <h2>Programs</h2>
            <ul>
                <li>OS X / Linux / Windows</li>
                <li>PHPStorm</li>
                <li>MySQL Workbench</li>
                <li>Chrome Dev Tools, XDebug</li>
                <li>Sketch</li>
                <li>Adobe Suite:
                    <ul>
                        <li>Photoshop</li>
                        <li>Illustrator</li>
                        <li>InDesign</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="education" class="education">
    <header>
        <div class="container">
            <h1>Education</h1>
        </div>
    </header>
        
    <div class="container">
        <div class="column">
            <div class="job">
                <header>
                    <h2>Art Institute of California - San Diego</h2>
                    <h3 class="job-title">Bachelors of Science - Web Design and Interactive Media</h3>
                    <h4 class="dates">2009-2012</h4>
                </header>
                
                <div class="content">
                    <ul>
                        <li>Courses taken in color theory, digital typography, image manipulation, interface design, user experience design, programming logic, digital illustration, server-side and client-side programming languages</li>
                        <li>Several quarters on honor roll</li>
                    </ul>
                </div>
        
                <footer>
                    <hr class="mobile-only" />
                </footer>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="column">
            <div class="job">
                <header>
                        <h2>San Diego City College</h2>
                        <h3 class="job-title">General Education</h3>
                        <h4 class="dates">2006-2009</h4>
                </header>
                
                <div class="content">
                </div>

                <footer>
                </footer>
            </div>
        </div>
    </div>
</section>
