---
layout: home
title: Christopher "CJ" Yancey - Web Developer
description:
image:
author:
lang:
foot_js:
  - vendor/ccampbell/mousetrap.min
  - vendor/waypoints/noframework.waypoints.min
  - vendor/waypoints/shortcuts/inview.min
  - vendor/simpleform/simpleform-ajax
---

<section id="home">
    <div class="container">
        <h1 class="post-title">Looking for a web developer?</h1>
        <h2>My name is CJ. I'm a web developer based in San Diego. I have experience in web site design, building, and customization and I do work mostly with Wordpress and static sites.</h2>
        <div id="more-content-indicator">Scroll down to get to know me</div>
    </div>
</section>

<section id="services">
    <div class="main">
        <div class="container col-3">
            {% assign ordered_services = site.services | sort:"order" %}
            {% for service in ordered_services %}
                <article class="service">
                    <header>
                        <h2>{{ service.title }}</h2>
                        <div class="header-icons">
                            {% for icon in service.icon %}
                                {% include icon-{{ icon }}.html %}
                            {% endfor %}
                        </div>
                    </header>
                    <div class="content">
                        {{ service.content }}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>

<section id="experience">
    <header>
        <div class="container">
            <h1>Experience</h1>
        </div>
    </header>
        
    <div class="main">
        <div class="container col-2">
            {% assign ordered_experience = site.jobs | sort:"enddate" | reverse %}
            {% for job in ordered_experience %}
                <article class="job">
                    <header>
                        <h2><a class="post-link" href="{{ job.link }}" target="_blank">{{ job.company }}</a></h2>
                        <h3 class="job-title">{{ job.title }}</h3>
                        <h4 class="dates">{{ job.startdate | date: '%B %Y' }} - {{ job.enddate | date: '%B %Y' }}</h4>
                    </header>
                    <div class="content">
                        {{ job.content }}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>

<section id="work">
    <header>
        <div class="container">
            <h1>Work</h1>
        </div>
    </header>
    
    <div class="main">
        <div class="container col-3">
            {% assign ordered_work = site.work | sort:"order" %}
            {% for work in ordered_work %}
                <article class="work">
                    <header>
                        <h2><a class="post-link" href="{{ work.link }}" target="_blank">{{ work.title }}</a></h2>
                        <img 
                            src="assets/images/{{ work.image }}.png" 
                            srcset="assets/images/{{ work.image }}.png 372w, assets/images/{{ work.image }}@2x.png 744w" 
                            data-src="" 
                            data-srcset="assets/images/{{ work.image }}.png 372w, assets/images/{{ work.image }}@2x.png 744w" 
                            sizes="100%" 
                            alt="{{ work.title }} screenshot" 
                            loading="lazy"
                        >
                    </header>
                    <div class="content">
                        {{ work.content }}
                        
                    </div>
                    <footer>
                        <div class="work__tags">
                            {% assign ordered_tags = work.tags %}
                            {% for tag in ordered_tags %}
                                <span class="work__tag" data-work-sort="{{ tag }}">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    </footer>
                </article>
            {% endfor %}
        </div>
    </div>

    <footer>

    </footer>
</section>

<section id="skills">
    <header>
        <div class="container">
            <h1>Skills</h1>
        </div>
    </header>
        
    <div class="main">
        <div class="container col-2">
            {% assign ordered_skills = site.skills | sort:"order" %}
            {% for skill in ordered_skills %}
                <article class="skills">
                    <header>
                        <h2>{{ skill.title }}</h2>
                    </header>
                    <div class="content">
                        {{ skill.content }}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>

    <footer>

    </footer>
</section>

<section id="education">
    <header>
        <div class="container">
            <h1>Education</h1>
        </div>
    </header>
        
    <div class="main">
        <div class="container col-2">
            {% for school in site.education %}
                <article class="job">
                    <header>
                        <h2><a class="post-link" href="{{ school.link }}" target="_blank">{{ school.school }}</a></h2>
                        <h3 class="job-title">{{ school.program }}</h3>
                        <h4 class="dates">{{ school.startdate }} - {{ school.enddate }}</h4>
                    </header>
                    <div class="content">
                        {{ school.content }}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>

<section id="about-me">
    <header>
        <div class="container">
            <h1>About Me</h1>
        </div>
    </header>
        
    <div class="main">
        <div class="container col-2">
            <ul class="social-media-list">
                {% if site.linkedin_username %}
                    <li>{% include icon-linkedin.html username=site.linkedin_username %}</li>
                {% endif %}
    
                {% if site.gitlab_username %}
                    <li>{% include icon-gitlab.html username=site.gitlab_username %}</li>
                {% endif %}
    
                {% if site.github_username %}
                    <li>{% include icon-github.html username=site.github_username %}</li>
                {% endif %}

                {% if site.facebook_username %}
                    <li>{% include icon-facebook.html username=site.facebook_username %}</li>
                {% endif %}
    
                {% if site.spotify_username %}
                    <li>{% include icon-spotify.html username=site.spotify_username %}</li>
                {% endif %}
            </ul>
            <div class="column">
                <p>I am a web designer and developer living in sunny San Diego, California.</p>

                <p>I have a love for all things Web; I am always studying the latest techniques and technology. I am eternally cramming my head full of new skills and designs, all in pursuit of bettering my unique blend of talents, knowledge, and perspective.</p>

                <p>On the personal side, I enjoy music, especially genres like classical, <a href="http://everynoise.com/engenremap-alternativedance.html" target="_blank">alternative dance</a>, <a href="http://everynoise.com/engenremap-nudisco.html" target="_blank">nu disco</a>, <a href="http://everynoise.com/engenremap-retroelectro.html" target="_blank">synthwave</a>, <a href="http://everynoise.com/engenremap-indietronica.html" target="_blank">indietronica</a>, and <a href="http://everynoise.com/engenremap-skatepunk.html" target="_blank">skate punk</a>. I can usually be found chatting it up and and discovering new tracks at <a href="https://www.dubtrack.fm/join/indie-discotheque" target="_blank">Dubtrack.fm</a> (look for CJY) and on a music blog called <a href="http://www.indiediscotheque.com/" target="_blank">Indie Discotheque</a>. I also enjoy following professional soccer, of which I am a fan of <a href="https://www.lagalaxy.com/" target="_blank">LA Galaxy</a> and English team <a href="https://www.arsenal.com/" target="_blank">Arsenal</a>. Other things I enjoy are watching sci-fi movies, camping, and watching my favorite TV show Jeopardy.</p>
            </div>
            <div class="column">
                <p>I have a Bachelors of Science degree in Web Design and Interactive Media from Art Institute of California - San Diego, which I finished in 2012.</p>
                
                <p>Most recently, I was a web developer at a web agency called PINT, Inc., where I specialized in development for content management systems, primarily Wordpress, Joomla!, and Drupal 7. While there I picked up a lot of front-end and back-end development experience and learned some server administration skills, including working with Gitlab for auto-deploying code to sites.</p>

                <p>Before that I was a web designer and developer at a small company called Scentco, Inc., where I was one of two front-end developers and the sole back-end developer on a creative team of seven.</p>
            </div>
        </div>
    </div>
</section>
    
<section id="contact">
    <header>
        <div class="container">
            <h1>Contact</h1>
        </div>
    </header>

    <div class="main">
        <div class="container">
            <form class="simpleform" id="simpleform">
                <!-- Hide the inputs from anyone/thing that has JS disabled -->
                <span id="turn-on-js">You must have Javascript enabled for this contact form to work.</span>

                <label for="name" id="label-name">
                    <span class="visuallyhidden">Name</span>
                    <input required type="text" name="name" id="name" autocomplete="name" placeholder="Name" aria-labelledby="label-name" />
                </label>
    
                <label for="email">
                    <span class="visuallyhidden">Email</span>
                    <input type="email" name="email" id="email" autocomplete="email" placeholder="Email" required />
                </label>
    
                <label for="message">
                    <span class="visuallyhidden">Message</span>
                    <textarea name="message" id="message" placeholder="Your message..." rows="8"></textarea>
                </label>

                <div class="message--sending">Sending your message...</div>
                <div class="message--success">The message was successfully sent!</div>
                <div class="message--fail"></div>
    
                <input type="submit" id="simplesubmit" value="Send Message" />
            </form>
        </div>
    </div>

    <footer>

    </footer>
</section>
