---
layout: page
title: Thank You&hellip;
permalink: /thank-you/
---

<section class="contact">
    <div class="container">
        <div class="column">
            <p>&hellip;for contacting me! I'll get a response out as soon as I can.</p>
            <p>In the meantime, if you really, REALLY need to get a hold of me, here are some other options to reach me:</p>
            <p class="mobile-only"><a href="tel:+17142351711" class="split-button">{% include icon-phone.html %} Call Me</a></p>
            <p><a href="mailto:cyancey76@gmail.com" class="split-button">{% include icon-email.html %} Direct Email Me</a></p>
        </div>
    </div>
</section>
