---
layout: job
company:  "PINT, Inc."
link: "https://www.pint.com"
title: "Web Developer"
startdate: 2015-09-22
enddate: 2018-05-04
---
<p>Specialized in development for content management systems, primarily Wordpress, Joomla!, and Drupal 7. Front-end and back-end development experience and basic server administration, including working with Git and Gitlab, Apache and PHP configuration. Front-end developer for new and existing client sites and experimental PINT, Inc. web technology projects, as well as PHP developer for Wordpress, Joomla! and Drupal projects. Active participant at all stages of project discovery, planning, and execution.</p>

<h3>Responsibilities</h3>

<ul>
    <li>CMS theme and plugin development</li>
    <li>Production of client sites from wireframes and design comps</li>
    <li>Discovery and implementation of UX, SEO, and performance improvements</li>
    <li>Maintenance of client sites in various content management systems, including but not limited to Wordpress, Joomla!, Drupal 7, PWP (PINT’s proprietary CMS)</li>
    <li>Troubleshooting and fixes for client sites in various content management systems</li>
</ul>
