---
layout: job
company:  "Scentco, Inc."
link: "https://www.scentcoinc.com"
title: "Web Designer and Developer"
startdate: 2012-10-01
enddate: 2015-06-01
---
<p>Developer responsible for all aspects of designing and developing Wordpress sites, themes, and plugins for 7 eCommerce websites, html emails, product photos, and print materials.</p>

<h3>Responsibilities</h3>

<ul>
    <li>Development for Wordpress sites with eCommerce emphasis</li>
    <li>Design for print, web, and social media, including e-blasts and printed materials</li>
    <li>Product photography for eCommerce</li>
    <li>Theming for 7 Wordpress websites</li>
    <li>Development of Wordpress plugins for:
        <ul>
            <li>online fundraising system</li>
            <li>wholesale customer account management</li>
            <li>digital promotional product samples</li>
        </ul>
    </li>
</ul>