---
layout: school
school:  "Art Institute of California - San Diego"
link: "https://www.artinstitutes.edu"
program: "Bachelor of Science - Web Design and Interactive Media"
startdate: September 2009
enddate: September 2012
---
<ul>
    <li>Courses taken in color theory, digital typography, image manipulation, interface design, user experience design, programming logic, digital illustration, server-side and client-side programming languages</li>
    <li>Several quarters on honor roll</li>
</ul>
