<input type="checkbox" name="menu-toggle" id="menu-toggle" />

<header id="site-header" class="side-bar">
    <section id="site-title">
        <div class="container">
            <div class="column">
                <h1>CJ Yancey</h1>
            </div>
        </div>
    </section>

    <section id="profile-pic">
        <div class="container">
            <div class="column">
                <img srcset="/assets/images/me.jpg, /assets/images/me@2x.jpg 2x" src="/assets/images/me@2x.jpg" alt="Me in front of Seven Sisters Cliffs" height="160" width="160" loading="eager" />
            </div>
        </div>
    </section>

    <section id="site-nav">
        <div class="container">
            <div class="column">
                <nav class="site-nav">
                    <ul class="main-menu">
                        {% for item in site.data.navigation %}
                        <li class="menu-item {{ item.link | remove: '#' }}-nav {% if page.url == item.link %}current{% endif %}">
                            <a class="page-link" href="{{ item.link }}" data-scrollto="{{ item.link | remove: '#' }}">
                                {{ item.name }}
                            </a>

                            {% if item.subfolderitems[0] %}
                                <ul class="sub-menu mobile-only">
                                    {% for subitem in item.subfolderitems %}
                                        <li class="menu-item {% if page.url == subitem.link %}current{% endif %}">
                                            <a class="page-link" href="{{ subitem.link }}" data-scrollto="{{ item.link | remove: '#' }}">{{ subitem.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    
    <section id="extras">
        <div class="container">
            <div class="column">
            <p>
                <a href="/assets/downloads/CJ_Yancey_Resume_(2018-11).pdf" class="split-button" download="CJ_Yancey_Resume_(2018-11).pdf">{% include icon-pdf.html %} PDF Resume</a>
            </p>
            </div>
        </div>
    </section>

    <section id="sidebar-footer">
        <div class="container">
            <div class="column">
                <p>This static site generated with <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> <br class="mobile-only" />and hosted on <a href="https://about.gitlab.com/features/pages/" target="_blank">Gitlab Pages</a></p>

                <p class="copyright">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>

                <p class="copyright">&copy; 2019 Christopher Yancey, All Rights Reserved.</p>
            </div>
        </div>
    </section>

    <label for="menu-toggle" id="menu-toggle-label">Menu</label>
</header>
