{% if page.foot_js %}
{% for js_file in page.foot_js %}
<script src='/assets/js/{{ js_file }}.js' type="text/javascript"></script>
{% endfor %}
{% endif %}

<script src="/assets/js/main.js" type="text/javascript"></script>

{% if site.ga_id %}
<script>
window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
ga('create', '{{ site.ga_id}}', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
{% endif %}