<link rel="icon" href="/assets/images/favicon-32.png" sizes="32x32">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicon-152.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicon-152.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicon-144.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/favicon-120.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicon-72.png">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicon-57.png">