/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

body {
    background-color: #fff;
    color: $moderate-text-color;
    font-size: $base-font-size*1.6;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * General element styles
 */

section {
    box-sizing: border-box;
}

p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $link-color;
    width: fit-content;
}

/*
 * Change font weight for headlines
 */

h1,h2,h3,h4,h5,h6 {
    margin: $spacing-unit/2 0;

    &:first-child {
        margin-top: 0;
    }
}

h1,h2,h3 {
    font-weight: $headline-font-weight;
}

h4,h5,h6 {
    font-weight: $medium-font-weight;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3125em;
}

h4 {
    font-size: 1.125em;
}

ul, ol {
     padding-left: $spacing-unit;

     &.no-bullets {
         list-style-type: none;
         padding-left: 0;
     }
}

img {
    height: auto;
    max-width: 100%;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

form {
    background: $striped-background;
    padding: $spacing-unit;
    flex: 1;
}

input[type="text"],
input[type="email"],
textarea {
    border: none;
    box-sizing: border-box;
    margin-bottom: $spacing-unit;
    padding: 0.8rem;
    width: 100%;
}

input[type="submit"] {
    background: $dark-background;
    border: none;
    color: $light-text-color;
    padding: $spacing-unit/2 $spacing-unit;
}

input[type="submit"]:disabled {
    opacity: 0.2;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Colors for SVG icons
   ========================================================================== */

span[class*="icon__"] svg {
    fill: #aaaaaa;
}
span[class*="__facebook"] svg {
    fill: #3b5998;
}
span[class*="__linkedin"] svg {
    fill: #0077b5;
}
span[class*="__gitlab"] svg {
    fill: #fc6d26;
}
span[class*="__github"] svg {
    fill: #333;
}
span[class*="__spotify"] svg {
    fill: #1db954;
}
span[class*="__wordpress"] svg {
    fill: #21759b;
}
span[class*="__html5"] svg {
    fill: #e34f26;
}
span[class*="__css3"] svg {
    fill: #305ea9;
}
span[class*="__php"] svg {
    fill: #8892be;
}
span[class*="-whitebg"] {
    background: #ffffff;
    border-radius: 10%;
}
span[class*="-circle"] {
    border-radius: 50%;
}