/* ==========================================================================
   Site Header
   ========================================================================== */

#menu-toggle {
    display: none;
}

#menu-toggle-label {
    background: $dark-background;
    cursor: pointer;
    padding: $spacing-unit/2;
    position: absolute;
    right: $mobile-header-width + $spacing-unit/2;
    top: $spacing-unit/2;
}

#menu-toggle:checked + #site-header {
    transform: translateX(0);

    #menu-toggle-label {
        right: $mobile-header-width;
    }
}

#site-header {
    background: $dark-background;
    color: $light-text-color;
    display: flex;

    &.side-bar {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;
        right: 0;
        overflow: visible;
        padding: 0;
        position: fixed;
        top: 0;
        transition: all .2s ease-in-out;
        transform: translateX(100%);
        width: $mobile-header-width;
        z-index: 9999;

        .container {
            padding: $spacing-unit/2 $spacing-unit;
            text-align: center;
        }

        a {
            color: lighten($link-color, 34%);
        }
    }

    section {
        flex-grow: 0;
        order: 10;

        &#site-nav {
            display: flex;
            flex-grow: 1;
        }
    }

    .main-menu {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            margin-bottom: $spacing-unit/2;

            a {
                color: $light-text-color;
                font-weight: $headline-font-weight;
                position: relative;
                text-decoration: none;
                text-shadow: 3px 3px 0 black;
                text-transform: uppercase;

                &.current:before {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: -10%;
                    background: $brand-color;
                    height: 0.5em;
                    width: 120%;
                    z-index: -1;
                }
            }
        }
    }

    .copyright {
        color: $moderate-on-dark-text-color;
        font-size: 0.75em;

        a {
            color: lighten( $moderate-on-dark-text-color, 10% );
        }
    }

    #profile-pic {
        display: none;
        order: 1;
    }

    #site-title {
        order: 2;

        h1 {
            font-size: 3rem;
            text-shadow: 3px 3px 0 black;
            text-transform: uppercase;
        }
    }
}

.js {
    .home-nav {
        display: none;
    }
}

@media only screen and (min-width: $tablet-min) {
    #site-header {
        #site-title {
            .container {
                padding-top: 0;
            }
        }

        #profile-pic {
            display: block;
        }
    }
}

@media only screen and (min-width: $small-min) {
    #site-header {
        &.side-bar {
            height: 100vh;
            width: $header-width;
            right: initial;
            left: 0;
            overflow: hidden;
            transform: none;
    
            .container {
                padding: $spacing-unit;
            }
        }

        .main-menu {
            li {
                a {
                    font-size: 125%;
                }
            }
        }
    }

    #menu-toggle-label {
        display: none;
    }
}

@media only screen and (min-width: $large-min) {
    #site-header {
        &.side-bar {
            width: $large-header-width;
        }
    }
}

@media only screen and (min-width: $extralarge-min) {
}

/* ==========================================================================
   Site Main Content
   ========================================================================== */

main {
    background: $light-background;

    & > section {
        & > header {
            border-top: 1px solid $striped-background;
            color: $brand-text-color;

            h1 {
                font-size: 4rem;
                text-transform: uppercase;
            }
        }
    }
}

.job,
.service,
.skills,
.school,
.work {
    margin-bottom: $spacing-unit*2;
}

.service {
    text-align: center;

    header {
        display: flex;
        flex-direction: column;

        h2 {
            color: $brand-text-color;
            order: 2;
            text-transform: uppercase;
        }

        span[class*="icon__"] svg {
            fill: $brand-text-color;
        }

        .header-icons {
            margin: $spacing-unit 0;
            order: 1;

            .icon {
                width: 50%;
            }
        }
    }
}

.job,
.school {
    header {
        position: relative;
        border-bottom: 1px solid $striped-background;
        margin-bottom: $spacing-unit;
    }

    footer {
        padding: $spacing-unit/2 $spacing-unit;
    }

    .container {
        margin: $spacing-unit 0;
        padding: 0 $spacing-unit;
    }

    ul, ol {
        margin-top: 0;
    }

    h3 {
        margin-bottom: 0;
    }
    
    h4 {
        margin-top: 0;
    }
}

.work {
    margin-bottom: $spacing-unit*4;

    header {
        display: flex;
        flex-direction: column;

        h2 {
            margin-top: $spacing-unit;
            order: 2;
        }

        img {
            box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.25);
            order: 1;
            transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
        }
    }

    &:hover {
        img {
            box-shadow: 0 2px 15px hsla(0, 0%, 0%, 0.5);
            transform: translateY(-2px);
        }
    }

    footer {
        border-top: 1px solid $striped-background;
        margin-top: $spacing-unit/2;
        padding-top: $spacing-unit/2;
    }
}

#home {
    background: $topography-svg, radial-gradient($brand-color, $dark-brand-color), $dark-brand-color;
    color: $light-text-color;
    height: 100vh;
    position: relative;

    h1,
    h2 {
        text-shadow: $base-font-size*0.2 $base-font-size*0.2 0 hsl(0,0,0);
    }

    h1 {
        font-size: $base-font-size*3.2;
        line-height: 1;
        text-transform: uppercase;
    }

    h2 {
        font-size: 1.125em;
    }

    & > .container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 0 $spacing-unit;
    }
}

#more-content-indicator {
    position: absolute;
    left: 50%;
    bottom: $spacing-unit;
    transform: translate(-50%,0) rotate(-45deg);
    font-size: 0;

    &:before,
    &:after {
        background: #ffffff;
        content: "";
        display: block;
    }

    &:before {
        box-shadow: -2px 2px 0 black;
        height: $spacing-unit*2;
        width: $spacing-unit/2;
        margin-bottom: $spacing-unit/2 * -1;
    }

    &:after {
        box-shadow: -1px 2px 0 black;
        height: $spacing-unit/2;
        width: $spacing-unit*2;
    }
}

@media only screen and (min-width: $tablet-min) {
    main {
        & > section {
            & > header {
                h1 {
                    font-size: 6rem;
                }
            }
        }

        .container {
            flex-direction: row;
        }

        .social-media-list {
            display: block;
        }
    }

    .hero-banner {
        padding-top: 10rem;
    }

    #home {
        h1,
        h2 {
            text-shadow: $base-font-size*0.4 $base-font-size*0.4 0 hsl(0,0,0);
        }

        h1 {
            font-size: $base-font-size*6.4;
        }

        h2 {
            font-size: $base-font-size*3.2;
            margin-top: 2rem;
        }

        & > .container {
            padding: 0 $spacing-unit*2;
        }
    }

    #more-content-indicator {
        &:before {
            box-shadow: -4px 4px 0 black;
        }
    
        &:after {
            box-shadow: -2px 4px 0 black;
        }
    }
    
    #services {
        .container {
            flex-direction: row;
        }
    }

    .work {
        header {
            img {
                max-width: 50%;
            }
        }
    }
}

@media only screen and (min-width: $small-min) {
    .has-sidebar > main {
        margin-left: $header-width;
    }

    #home {
        h1 {
            font-size: $base-font-size*9.6;
        }
    }

    #services {
        padding: $spacing-unit*4 0 $spacing-unit*4;
    }

    .work {
        header {
            img {
                max-width: 100%;
            }
        }
    }
}

@media only screen and (min-width: $large-min) {
    body.has-sidebar > main {
        margin-left: $large-header-width;
    }

    .service {
        header {
            h2 {
                font-size: $spacing-unit*2;
            }
        }

        .content {
            p {
                font-weight: 500;
            }
        }
    }
}

@media only screen and (min-width: $extralarge-min) {
}

/* ==========================================================================
   Site Footer
   ========================================================================== */

.site-footer {
    background-color: $dark-background;
    color: $light-text-color;
    flex-shrink: 0;
    margin-left: $header-width;
    text-align: center;

    .copyright {
        font-size: $small-font-size;
    }

    p:first-child {
        margin-top: 1em;
    }
}

@media only screen and (min-width: $tablet-min) {
}

@media only screen and (min-width: $small-min) {
}

@media only screen and (min-width: $large-min) {
    .site-footer {
        margin-left: $large-header-width;
    }
}

@media only screen and (min-width: $extralarge-min) {
}
