main {
    flex: 1 0 auto;

    & > section {
        padding: 0;

        &:last-child {
            padding-bottom: $spacing-unit*4;
        }

        & > header {
            margin-bottom: 0;
            padding: 0;

            & > .container {
                padding: $spacing-unit*2 $spacing-unit $spacing-unit;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    padding: $spacing-unit;

    article,
    .column {
        word-wrap: break-word;
    }

    
}

/* ==========================================================================
   Media Queries for Layout
   ========================================================================== */

@media only screen and (min-width: $tablet-min) {
    $minimum-touch-size: 60px;

    .container {
        padding: $spacing-unit $spacing-unit*2;
    }

    main {
        & > section {
            & > header {
                & > .container {
                    padding: $spacing-unit*2 $spacing-unit*2 $spacing-unit;
                }
            }
        }
    }
}

@media only screen and (min-width: $small-min) {
    $minimum-touch-size: 40px;

    .container {
        position: relative;
        max-width: 980px;

        &.col-2 {
            article,
            .column {
                width: 46.5%;
            }
    
        }
    
        &.col-3 {
            article,
            .column {
                width: 28.667%;
            }
        }
    
        &.col-4 {
            article,
            .column {
                width: 19.75%;
            }
        }
    }
}

@media only screen and (min-width: $large-min) {
    .container {
        max-width: 1200px;
    }

    main {
        & > section {
            & > header {
                & > .container {
                    padding-top: $spacing-unit*3;
                }
            }
        }
    }
}

@media only screen and (min-width: $extralarge-min) {
    
}
