/* ==========================================================================
   Helper classes
   ========================================================================== */

.icon {
    display: inline-block;
    height: auto;
    width: $base-font-size*4;
}

.social-media-list {
    display: block;
    margin: 0 0 $spacing-unit*2;
    padding: 0;
    width: 100%;

    li {
        display: inline-block;
        margin-right: 1rem;
    }
}
.split-button {
    background: $striped-background;
    border: 1px solid $striped-background;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: $dark-text-color !important;
    display: inline-block;
    font-weight: $headline-font-weight;
    min-width: 150px;
    padding-right: $spacing-unit/2;
    text-decoration: none;
    text-shadow: 1px 1px 0 $light-background;

    .icon {
        background: $light-background;
        border-radius: 0.5rem 0 0 0.5rem;
        margin-right: $spacing-unit/2;
        padding: 1rem;
    }
}

[class='work__tag'] {
    background: $brand-color;
    border-radius: 8px;
    color: $light-text-color;
    display: inline-block;
    font-size: 75%;
    margin-bottom: $spacing-unit/4;
    padding: $spacing-unit/6 $spacing-unit/2;
}

/*[data-work-sort*='Photography'] {
    background: hsl(0, 75%, 50%);
}
[data-work-sort*='HTML'] {
    background: #e34f26;
}
[data-work-sort*='Gitlab'] {
    background: #fc6d26;
}
[data-work-sort*='AWS'] {
    background: #ff9900;
}
[data-work-sort*='JavaScript'] {
    background: #f7df1e;
    color: $dark-text-color;
}
[data-work-sort*='Joomla!'] {
    background: #7ac143;
}
[data-work-sort*='WordPress'] {
    background: #21759b;
}
[data-work-sort*='jQuery'] {
    background: #0769ad;
}
[data-work-sort*='CSS'] {
    background: rgb(24,93,172);
}
[data-work-sort*='PHP'] {
    background: #8892be;
}
[data-work-sort*='WooCommerce'] {
    background: #96588a;
}
[data-work-sort*='Drupal'] {
    background: #0077c0;
}*/

.simpleform {
    input,
    textarea,
    button {
        display: none;
    }

    [class*="message"] {
        background: $dark-background;
        color: $light-text-color;
        display: none;
        margin-bottom: $spacing-unit;
        padding: $spacing-unit/2 $spacing-unit;

        &[class$="sending"] {
            background: $sending-bg;
        }

        &[class$="success"] {
            background: $success-bg;
        }

        &[class$="fail"] {
            background: $fail-bg;
        }

        a {
            color: $light-text-color;
            font-weight: 500;
        }
    }
}

.back-to-top {
    background-color: hsla(0, 0%, 0%, 0.3);
    border: none;
    bottom: $spacing-unit/2;
    color: $light-text-color;
    cursor: pointer;
    font-size: 0;
    opacity: 0;
    outline: none;
    padding: $spacing-unit*1.5 $spacing-unit*2;
    position: fixed;
    right: $spacing-unit/2;
    transform: scale(0.75);
    transition: all .2s ease-in-out;
    z-index: 999;

    &:hover,
    &:active,
    &:focus {
        transform: scale(1);
    }

    &:before,
    &:after {
        background: $light-background;
        bottom: 0;
        content: "";
        display: block;
        height: $spacing-unit/2;
        left: 50%;
        position: absolute;
        width: $spacing-unit*2;
    }

    &:before {
        transform: rotate(-45deg) translate(-4px,-40px);
    }

    &:after {
        transform: rotate(45deg) translate(-25px,-11px);
    }
}