// Generic Font Sizing
$base-font-family:     "Roboto", Helvetica, Arial, sans-serif;
$base-font-size:       10px;
$base-font-weight:     300;
$medium-font-weight:   500;
$headline-font-weight: 900;
$small-font-size:      75%;
$base-line-height:     1.4;

// Generic Spacing
$spacing-unit:            2rem;
$tablet-spacing-unit:     2rem;
$small-spacing-unit:      4rem;
$large-spacing-unit:      6rem;
$extralarge-spacing-unit: 8rem;

// Background Colors
$brand-color:          hsl(278.3, 54.7%, 27.6%);
$dark-brand-color:     hsl(277.9, 54.1%, 17.8%);
$dark-background:      hsl(0, 0%, 13.3%);
$light-background:     hsl(0, 0%, 100%);
$striped-background:   hsl(0, 0%, 93.3%);

// Text Colors
$brand-text-color:          hsl(278.3, 54.7%, 27.6%);
$dark-text-color:           hsl(0, 0%, 25.1%);
$moderate-text-color:       hsl(0, 0%, 40%);
$moderate-on-dark-text-color: hsl(0, 0%, 53.75%);
$light-text-color:          hsl(0, 0%, 100%);
$link-color:                hsl(204, 100%, 30%);

// Alert Colors
$sending-bg: hsl(0, 0%, 25.1%);
$success-bg: hsl(133.7, 61.3%, 40.6%);
$fail-bg: hsl(354.2, 70.5%, 53.6%);

// Screen Sizes
$tablet-min:        768px;
$tablet-max:       1024px;
$small-min:        1025px;
$small-max:        1279px;
$large-min:        1280px;
$large-max:        1600px;
$extralarge-min:   1601px;

// Mobile Menu
$minimum-touch-size: 4rem;

// Element Sizing
$header-width: 27rem;
$mobile-header-width: 24rem;
$large-header-width: 30rem;