---
layout: skill
title:  "Languages"
order: 2
---
<ul>
    <li>HTML5</li>
    <li>CSS3 / SASS</li>
    <li>Javascript</li>
    <li>jQuery / jQuery Mobile</li>
    <li>PHP</li>
    <li>MySQL</li>
</ul>
