---
layout: skill
title:  "Tech"
order: 1
---
<ul>
    <li>Wordpress Theme and Plugin Development Experience</li>
    <li>Joomla! Component and Theme Development Experience</li>
    <li>UI / UX Design</li>
    <li>Responsive / Adaptive Design</li>
    <li>Object-oriented Programming</li>
    <li>Excellent troubleshooting and problem identification skills</li>
    <li>Experience with CI/CD tools, GIT, Github / Gitlab / Bitbucket</li>
    <li>Basic Apache/NGINX web server maintenance and administration</li>
</ul>
