<!DOCTYPE html>
<html lang="en-US">

  {% include _head.html %}

  <body class="{{ page.url }}">

    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    {% include _header.html %}

    <main role="main">
      {{ content }}
    </main>

    {% include _footer.html %}

    {% include _scripts.html %}

  </body>

</html>
