<!DOCTYPE html>
<html lang="en-US">

{% include _head.html %}

<body class="has-sidebar">

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

{% if site.ga_id %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TRRRZPZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}

{% include _header.html %}

<main role="main">
{{ content }}
</main>

{% include _footer.html %}

{% include _scripts.html %}

</body>

</html>