---
layout: job
---
<article class="job" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
      <h2><a href="{{ page.link }}" target="_blank">{{ page.title }}</a></h2>
  </header>
  <div class="post-content" itemprop="articleBody">
      {{ content }}
  </div>
</article>
