---
layout: work
---
<article class="work">
    <header>
        <h2><a class="post-link" href="{{ work.link }}" target="_blank">{{ work.title }}</a></h2>
        <img 
            srcset="assets/images/{{ work.image }}.png 372w,
                    assets/images/{{ work.image }}@2x.png 744w" 
            sizes="100%" 
            src="assets/images/{{ work.image }}.png" 
            alt="{{ work.title }} screenshot" 
            loading="lazy" />
    </header>
    <div class="content">
        {{ content }}
        
    </div>
    <footer>
        <div class="work__tags">
            {% assign ordered_tags = work.tags %}
            {% for tag in ordered_tags %}
                <span class="work__tag" data-work-sort="{{ tag }}">{{ tag }}</span>
            {% endfor %}
        </div>
    </footer>
</article>
