---
layout: work
title:  "FEMSA"
link: "https://www.femsa.com"
image: "femsa"
order: 5
tags: 
    - Drupal
    - Metalsmith
    - Contentful
    - Gitlab CI/CD
    - HTML
    - CSS
    - PHP
    - JavaScript
---
<p>Initial work with this client was administering content and code changes on their existing <a href="https://www.drupal.org/drupal-7.0" target="_blank">Drupal 7</a> site.</p>
<p>Later on, I <a href="https://blog.pint.com/reduced-load-times-lead-lower-bounce-rates-femsa/" target="_blank">worked on</a> scraping the site content to create static HTML versions of the pages in preparation for converting the site to a static site generated using <a href="https://www.contentful.com/" target="_blank">Contentful</a> and <a href="https://metalsmith.io/" target="_blank">Metalsmith</a> to improve page load times.</p>
