---
layout: work
title:  "IMUSA"
link: "https://www.imusausa.com"
image: "imusa"
order: 6
tags: 
    - WordPress
    - Custom Theme Dev
    - Custom Plugin Dev
    - HTML
    - CSS
    - PHP
    - jQuery
---
<p>Started work with this client by adding social media share icons to the site, along with converting their <a href="http://www.wordpress.org" target="_blank">Wordpress</a> theme to be responsive for mobile.</p>
<p>Afterwards, I spent time working on a custom PHP Wordpress plugin for bulk importing products and recipes into their Wordpress instance from Excel spreadsheets.</p>
