---
layout: work
title:  "KLA Tencor"
link: "https://www.kla-tencor.com"
image: "klatencor"
tags: 
    - Joomla!
    - Custom Theme Dev
    - Custom Plugin Dev
    - AWS
    - HTML
    - CSS
    - PHP
    - JavaScript
order: 8
---
<p>The multinational, S&P 500 client I was originally brought on to work with at <a href="https://www.pint.com" target="_blank">PINT, Inc.</a>, I spent a bulk of my time there working on their multiple <a href="https://www.joomla.org/" target="_blank">Joomla!</a> sites.</p>
<p>Work consisted of advising PINT and KLA's in-house IT on infrastructure changes to improve content development and deployment speed and reliability, as well as custom Joomla component and theme coding.</p>
