---
layout: work
title:  "Scentco, Inc."
link: "https://www.scentcoinc.com"
image: "scentcoinc"
order: 7
tags: 
    - Design
    - WordPress
    - WooCommerce
    - Custom Theme Dev
    - HTML
    - CSS
    - PHP
    - jQuery
    - Photography
---
<p>Designed and built the main corporate site for <a href="http://www.scentcoinc.com" target="_blank">Scentco, Inc.</a> using Wordpress with <a href="https://woocommerce.com/" target="_blank">WooCommerce</a>.</p>
<p>Also contributed product photography for product listings.</p>
