---
layout: work
title:  "Scentco Fundraising"
link: "https://www.scentcofundraising.com"
image: "scentcofundraising"
order: 1
tags: 
    - WordPress
    - WordPress Theme Dev
    - WordPress Plugin Dev
    - WooCommerce
    - HTML
    - CSS
    - PHP
    - jQuery
    - Photography
---
<p>Designed and built this Wordpress site based on an existing <a href="https://modx.com/" target="_blank">MODX</a> site the previous developer had built.</p>
<p>Coded a custom Wordpress plugin to handle tracking of product sales for school fundraising campaigns, along with a custom Wordpress theme.</p>
