---
layout: work
title:  "Smickers"
link: "http://www.smickers.com"
image: "smickers"
order: 9
tags: 
    - Design
    - WordPress
    - Custom Theme Dev
    - HTML
    - CSS
    - PHP
    - jQuery
---
<p>A fun little site, I designed and coded this custom Wordpress theme and built the site up from scratch.</p>
<p>Theme is original using jQuery for minimal element animations, along with also doing the product photography. Graphics done by me in Photoshop and Illustrator.</p>
