---
layout: work
title:  "Total CRO"
link: "https://www.totalcro.com"
image: "totalcro"
order: 2
tags: 
    - WordPress
    - Custom Theme Dev
    - HTML
    - CSS
    - PHP
    - jQuery
---
<p>I re-coded the existing custom Wordpress theme from design mockups to refresh the site design.</p>
<p>Also, worked to reduce pageload times and asset sizes to improve the site's performance for mobile and slow-connection users.</p>
